.challenges-page {
  /*  */
}

.challenges-page .challenge-home-header.bg-image {
  object-fit: cover;
  background-image: url(../assets/gw_challenge_banner_1_xs.png);
}

.challenge-step {
  cursor: default;
}

.challenge-step:hover {
  color: black;
}

.challenge-step:hover::before {
  font-size: x-large;
  content: '👉 ';
}

.challenge-item:hover > .game-item {
  border-bottom: none;
}