.editor-page {

}

.editor-page .bp4-tab {
  color: #666;
}

.editor-page .bp4-tab[aria-selected=true], 
.editor-page .bp4-tab:not([aria-disabled=true]):hover {
  color: #215db0;
}

.editor-page .code-editors {
  width: 99%;
  height: 99%;
}

.tile-editor .object-explorer {
  min-width: 240px;
}

.tile-editor .map-attributes-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coding-editor, .coding-result {
  width: calc(50% - 10px);
}

.center-run-button {
  display: block;
  position: absolute;
  top: 42%;
  left: -18px;
  z-index: 10;
  width: 48px;
  height: 48px;
  color: white;
  border-radius: 50%;
  border-width: 1px;
}

.full-screen-webview {
  background-color: rgba(9, 2, 28, 0.8);
}

@media only screen and (max-width: 1024px) {
  /* FIXME: cause horizontal scroll bar while resize the window */
  /* .tile-editor .object-explorer {
    min-width: 180px;
    width: 180px;
  } */
}