@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .panel {
    @apply p-4 shadow-md border rounded-md m-2 bg-slate-50;
  }
  .game-item {
    @apply text-white py-4 pl-2 pr-6 text-center w-full bg-slate-600 hover:bg-sky-600 hover:transform-none focus:outline-none;
  }
}

@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import 'react-toastify/dist/ReactToastify.css';

@import './style/utilities.css';
@import './style/welcome.css';
@import './style/code-editor.css';
@import './style/inputs.css';

:root {
  --gw-wheat: rgb(241, 222, 184); /* wheat */
  --gw-yellow: rgb(215, 198, 160);
  --gw-dark-slate: rgb(71 85 105);
  --gw-logo-silver: rgb(167, 192, 217);
}

/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 * See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  /* color: white; */
  height: 100vh;
  /* background: linear-gradient(
    200.96deg,
    #fedc2a -29.09%,
    #dd5789 51.77%,
    #7a2c9e 129.35%
  ); */
  background-color:whitesmoke;
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

#root {
  width: 100%;
  height: 100%;
}

.flying-bar {
  /* background-color: #337FCE; */
  /* height: 6px; */
  background-color: rgb(37 99 235);
  position: absolute;
  z-index: 10;
  opacity: 0.8;
  pointer-events: none;
}
