@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .panel {
    @apply p-4 shadow-md border rounded-md m-2 bg-slate-50;
  }
  .game-item {
    @apply text-white py-4 px-2 text-center hover:transform-none focus:outline-none;
  }
  .home-card-item {
    @apply py-1 px-2 border-b border-gray-500 hover:bg-sky-600 select-none;
  }
}

@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~@blueprintjs/popover2/lib/css/blueprint-popover2.css";
@import 'react-toastify/dist/ReactToastify.css';

@import './style/utilities.css';
@import './style/welcome.css';
@import './style/code-editor.css';
@import './style/inputs.css';

:root {
  --gw-wheat: rgb(241, 222, 184); /* wheat */
  --gw-yellow: rgb(215, 198, 160);
  --gw-dark-slate: rgb(71 85 105);
  --gw-logo-silver: rgb(167, 192, 217);
  --gw-fancy-blue: #1099bb;
}

/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 * See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  /* color: white; */
  height: 100vh;
  /* background: linear-gradient(
    200.96deg,
    #fedc2a -29.09%,
    #dd5789 51.77%,
    #7a2c9e 129.35%
  ); */
  background-color:whitesmoke;
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

#root {
  width: 100%;
  height: 100%;
}

/* disable focus line while popover showing up */
.bp4-overlay-start-focus-trap:focus {
  outline: none;
}

.bp4-menu-item {
  padding: 8px 12px;
  outline: none;
}

.bp4-tree-node-content {
  height: 36px;
}

.flying-bar {
  /* background-color: #337FCE; */
  /* height: 6px; */
  background-color: rgb(37 99 235);
  position: absolute;
  z-index: 10;
  opacity: 0.8;
  pointer-events: none;
}

.examples-container {
  width: 100%;
  height: calc(100% - 100px);
}
